@use 'lib' as *;

.steps {
	$self: &;

	@include media("<=lg") {
		background: $pinkColor;
		border-radius: 16px;
		overflow: hidden;
		padding: 20px 0 24px 0;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 80px;

		@include media("<=lg") {
			margin-bottom: fluid(80px, 24px);
			color: #ffffff;
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		width: 100%;

		@include media("<=lg") {
			gap: 12px;
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	.step-card {
		$self: &;

		@include media("<=lg") {
			height: auto;
			padding: 16px;
			border-radius: 20px;
		}



		&_reverse {

			@include media("<=lg") {
				height: auto;

				.step-card__content {
					margin-top: 0;
					padding: 0;
				}
			}
		}

		&__content {
			@include media("<=lg") {
				padding: 0px;
			}

			@include media("<=xs") {
				align-items: center;
				width: 100%;
				text-align: center;
				gap: 8px;
			}
		}

		&__title {
			@include media("<=lg") {
				@include flex-center;

				width: 32px;
				height: 32px;
				color: #ffffff;
				background: $pinkColor;
				font-size: 18px;
				font-weight: 500;
				border-radius: 12px;

				span {
					display: none;
				}
			}
		}

		&__image {
			@include media("<=lg") {
				display: none;
			}
		}

		&__desc {
			@include media("<=xs") {
				font-size: 17px;

				span {
					color: $pinkColor;
					position: relative;
					line-height: 150%;

					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						background: $pinkColor;
					}
				}
			}
		}
	}

}