<section class="accordeons @@if(this.class){@@class}">
    <div class="accordeons__container container">
        <div class="accordeons__top block-top">
            <h2 class="accordeons__title title">
                Зачем нужен мобильный <br> интернет для видеонаблюдения
            </h2>
            <p class="accordeons__desc">
                Стабильный мобильный интернет для камер. Можно просматривать видео в реальном времени, хранить
                записи в облаке и контролировать объект круглосуточно без привязки к проводной сети.
            </p>
        </div>
        <div class="accordeons__content">
            <div class="accordeons__column accordeons__image">
                <img src="./img/accordeons/1.webp" alt="">
            </div>
            <div class="accordeons__column accordeons__items swiper">
                <div class="swiper-wrapper">
                    <div class="accordeons__item active swiper-slide" data-image-src="./img/accordeons/1.webp">
                        <h4 class="accordeons__item-head">
                            Контроль дачи или гаража
                        </h4>
                        <div class="accordeons__item-content">
                            <p class="accordeons__item-text">
                                Сим-карта позволяет подключить камеры без проводного интернета и проверять объект
                                удалённо. Камеры фиксируют движение, а вы получаете доступ к видео в нужный момент.
                            </p>
                        </div>
                        <img src="./img/accordeons/1.webp" alt="" class="accordeons__item-image">
                    </div>
                    <div class="accordeons__item swiper-slide" data-image-src="./img/accordeons/2.webp">
                        <h4 class="accordeons__item-head">
                            Видеонаблюдение в хозяйственных помещениях
                        </h4>
                        <div class="accordeons__item-content">
                            <p class="accordeons__item-text">
                                Сим-карта позволяет подключить камеры без проводного интернета и проверять объект
                                удалённо. Камеры фиксируют движение, а вы получаете доступ к видео в нужный момент.
                            </p>
                        </div>
                        <img src="./img/accordeons/2.webp" alt="" class="accordeons__item-image">
                    </div>
                    <div class="accordeons__item swiper-slide" data-image-src="./img/accordeons/3.webp">
                        <h4 class="accordeons__item-head">
                            Частный дом с постоянным доступом
                        </h4>
                        <div class="accordeons__item-content">
                            <p class="accordeons__item-text">
                                Сим-карта позволяет подключить камеры без проводного интернета и проверять объект
                                удалённо. Камеры фиксируют движение, а вы получаете доступ к видео в нужный момент.
                            </p>
                        </div>
                        <img src="./img/accordeons/3.webp" alt="" class="accordeons__item-image">
                    </div>
                    <div class="accordeons__item swiper-slide" data-image-src="./img/accordeons/4.webp">
                        <h4 class="accordeons__item-head">
                            Склад или стройплощадка
                        </h4>
                        <div class="accordeons__item-content">
                            <p class="accordeons__item-text">
                                Сим-карта позволяет подключить камеры без проводного интернета и проверять объект
                                удалённо. Камеры фиксируют движение, а вы получаете доступ к видео в нужный момент.
                            </p>
                        </div>
                        <img src="./img/accordeons/4.webp" alt="" class="accordeons__item-image">
                    </div>
                    <div class="accordeons__item swiper-slide" data-image-src="./img/accordeons/5.webp">
                        <h4 class="accordeons__item-head">
                            Коммерческий объект или производство
                        </h4>
                        <div class="accordeons__item-content">
                            <p class="accordeons__item-text">
                                Сим-карта позволяет подключить камеры без проводного интернета и проверять объект
                                удалённо. Камеры фиксируют движение, а вы получаете доступ к видео в нужный момент.
                            </p>
                        </div>
                        <img src="./img/accordeons/5.webp" alt="" class="accordeons__item-image">
                    </div>
                    <div class="accordeons__item swiper-slide" data-image-src="./img/accordeons/6.webp">
                        <h4 class="accordeons__item-head">
                            Комплексная система безопасности
                        </h4>
                        <div class="accordeons__item-content">
                            <p class="accordeons__item-text">
                                Сим-карта позволяет подключить камеры без проводного интернета и проверять объект
                                удалённо. Камеры фиксируют движение, а вы получаете доступ к видео в нужный момент.
                            </p>
                        </div>
                        <img src="./img/accordeons/6.webp" alt="" class="accordeons__item-image">
                    </div>
                </div>
                <div class="custom-pagination"></div>
            </div>
        </div>
    </div>
</section>