<section class="answers @@if(this.class){@@class}">
    <div class="answers__container">
        <h2 class="answers__title title">Ответы на частые вопросы</h2>
        <div class="answers__items-container">
            <div class="answers__items">
                <div class="answers__item">
                    <h4 class="answers__item-title">
                        Сколько времени идёт установка оборудования?
                        <button class="answers__item-btn"></button>
                    </h4>
                    <div class="answers__item-content">
                        <p>
                            Конечно! Мы на связи с клиентами 24/7 в приложении, в телеграм и по телефону
                            8 800 222-05-00, чат в приложении и личный кабинет. Операторы — живые специалисты,
                            а не роботы. Решат вопросы за 5–15 минут: от настройки роутера до устранения помех
                            сигнала. Если нужно, мастер выезжает в день обращения. Мы предлагаем новый стандарт
                            сервиса — стабильного, прозрачного и технологичного, который работает легально
                            и предсказуемо. Просто удобный мобильный интернет, где вы ни были.
                        </p>
                    </div>
                </div>
                <div class="answers__item">
                    <h4 class="answers__item-title">
                        Есть ли техподдержка?
                        <button class="answers__item-btn"></button>
                    </h4>
                    <div class="answers__item-content">
                        <p>
                            Конечно! Мы на связи с клиентами 24/7 в приложении, в телеграм и по телефону
                            8 800 222-05-00, чат в приложении и личный кабинет. Операторы — живые специалисты,
                            а не роботы. Решат вопросы за 5–15 минут: от настройки роутера до устранения помех
                            сигнала. Если нужно, мастер выезжает в день обращения. Мы предлагаем новый стандарт
                            сервиса — стабильного, прозрачного и технологичного, который работает легально
                            и предсказуемо. Просто удобный мобильный интернет, где вы ни были.
                        </p>
                    </div>
                </div>
                <div class="answers__item">
                    <h4 class="answers__item-title">
                        Как купить сим-карту с безлимитным интернетом?
                        <button class="answers__item-btn"></button>
                    </h4>
                    <div class="answers__item-content">
                        <p>
                            Конечно! Мы на связи с клиентами 24/7 в приложении, в телеграм и по телефону
                            8 800 222-05-00, чат в приложении и личный кабинет. Операторы — живые специалисты,
                            а не роботы. Решат вопросы за 5–15 минут: от настройки роутера до устранения помех
                            сигнала. Если нужно, мастер выезжает в день обращения. Мы предлагаем новый стандарт
                            сервиса — стабильного, прозрачного и технологичного, который работает легально
                            и предсказуемо. Просто удобный мобильный интернет, где вы ни были.
                        </p>
                    </div>
                </div>
                <div class="answers__item">
                    <h4 class="answers__item-title">
                        Работает ли интернет в СПб и области, в т.ч. на даче?
                        <button class="answers__item-btn"></button>
                    </h4>
                    <div class="answers__item-content">
                        <p>
                            Конечно! Мы на связи с клиентами 24/7 в приложении, в телеграм и по телефону
                            8 800 222-05-00, чат в приложении и личный кабинет. Операторы — живые специалисты,
                            а не роботы. Решат вопросы за 5–15 минут: от настройки роутера до устранения помех
                            сигнала. Если нужно, мастер выезжает в день обращения. Мы предлагаем новый стандарт
                            сервиса — стабильного, прозрачного и технологичного, который работает легально
                            и предсказуемо. Просто удобный мобильный интернет, где вы ни были.
                        </p>
                    </div>
                </div>
                <div class="answers__item">
                    <h4 class="answers__item-title">
                        Нужна ли предоплата за несколько месяцев?
                        <button class="answers__item-btn"></button>
                    </h4>
                    <div class="answers__item-content">
                        <p>
                            Конечно! Мы на связи с клиентами 24/7 в приложении, в телеграм и по телефону
                            8 800 222-05-00, чат в приложении и личный кабинет. Операторы — живые специалисты,
                            а не роботы. Решат вопросы за 5–15 минут: от настройки роутера до устранения помех
                            сигнала. Если нужно, мастер выезжает в день обращения. Мы предлагаем новый стандарт
                            сервиса — стабильного, прозрачного и технологичного, который работает легально
                            и предсказуемо. Просто удобный мобильный интернет, где вы ни были.
                        </p>
                    </div>
                </div>
                <div class="answers__item">
                    <h4 class="answers__item-title">
                        Как работает интернет по технологии LTE?
                        <button class="answers__item-btn"></button>
                    </h4>
                    <div class="answers__item-content">
                        <p>
                            Конечно! Мы на связи с клиентами 24/7 в приложении, в телеграм и по телефону
                            8 800 222-05-00, чат в приложении и личный кабинет. Операторы — живые специалисты,
                            а не роботы. Решат вопросы за 5–15 минут: от настройки роутера до устранения помех
                            сигнала. Если нужно, мастер выезжает в день обращения. Мы предлагаем новый стандарт
                            сервиса — стабильного, прозрачного и технологичного, который работает легально
                            и предсказуемо. Просто удобный мобильный интернет, где вы ни были.
                        </p>
                    </div>
                </div>
                <div class="answers__item">
                    <h4 class="answers__item-title">
                        Почему ваших тарифов нет на сайте операторов/?
                        <button class="answers__item-btn"></button>
                    </h4>
                    <div class="answers__item-content">
                        <p>
                            Конечно! Мы на связи с клиентами 24/7 в приложении, в телеграм и по телефону
                            8 800 222-05-00, чат в приложении и личный кабинет. Операторы — живые специалисты,
                            а не роботы. Решат вопросы за 5–15 минут: от настройки роутера до устранения помех
                            сигнала. Если нужно, мастер выезжает в день обращения. Мы предлагаем новый стандарт
                            сервиса — стабильного, прозрачного и технологичного, который работает легально
                            и предсказуемо. Просто удобный мобильный интернет, где вы ни были.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>