<footer class="footer">
    <div class="footer__container container">
        <div class="footer__main">
            <div class="footer__column">
                <a href="#" class="footer__logo">
                    <img loading="lazy" src="./img/logo-light.svg" alt="">
                </a>
            </div>
            <div class="footer__column">
                <p class="footer__desc">
                    Просто удобный мобильный интернет.
                </p>
            </div>
            <div class="footer__column">
                <div class="footer__contacts">
                    <div class="footer__contact">
                        <h5 class="footer__contact-title">Наша почта:</h5>
                        <a href="#" class="footer__contact-text">example@gmail.com</a>
                    </div>
                    <div class="footer__contact">
                        <h5 class="footer__contact-title">Звонок/Whatsapp</h5>
                        <a href="#" class="footer__contact-text">+7 000 00 00</a>
                    </div>
                    <div class="footer__contact">
                        <h5 class="footer__contact-title">Где мы находимся:</h5>
                        <a href="#" class="footer__contact-text">г. Санкт-Петербург, наб. Обводного
                            канала, д. 199–201, лит. Ж, пом. 12-Н</a>
                    </div>
                </div>
            </div>
            <div class="footer__column">
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#">Каталог</a></li>
                        <li class="footer__list-item"><a href="#">Услуги</a></li>
                        <li class="footer__list-item"><a href="#">Статьи</a></li>
                        <li class="footer__list-item"><a href="#">Частным лицам</a></li>
                        <li class="footer__list-item"><a href="#">Контакты</a></li>
                        <li class="footer__list-item"><a href="#">Бизнес</a></li>
                        <li class="footer__list-item"><a href="#">О компании</a></li>
                        <li class="footer__list-item"><a href="#">Партнёрам</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__bottom">
            <a href="#" class="footer__bottom-link">Условия оказания услуг</a>
            <a href="#" class="footer__bottom-link">Политика обработки Персональных данных</a>
            <a href="#" class="footer__bottom-link">Согласние на обработку Персональных данных</a>
            <a href="#" class="footer__bottom-link">Согласие на обработку Персональных данных KYC</a>
        </div>
    </div>
</footer>

<div class="modal modal-quiz">
    <div class="modal__container">
        <button class="modal__close"></button>
        <div class="modal__content">
            <div class="quiz">
                <div class="quiz__pagination">
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="quiz__slides">
                    <div class="quiz__slide">
                        <h2 class="quiz__title">Где планируете использовать интернет?</h2>
                        <div class="quiz__slide-content">
                            <div class="quiz__cards">
                                <label class="quiz__card">
                                    <h4 class="quiz__card-title">Автомобиль</h4>
                                    <img src="./img/services/3.webp" alt="" class="quiz__card-img">
                                    <input type="checkbox" style="display: none;">
                                </label>
                                <label class="quiz__card">
                                    <h4 class="quiz__card-title">Автомобиль</h4>
                                    <img src="./img/services/3.webp" alt="" class="quiz__card-img">
                                    <input type="checkbox" style="display: none;">
                                </label>
                                <label class="quiz__card">
                                    <h4 class="quiz__card-title">Автомобиль</h4>
                                    <img src="./img/services/3.webp" alt="" class="quiz__card-img">
                                    <input type="checkbox" style="display: none;">
                                </label>
                                <label class="quiz__card">
                                    <h4 class="quiz__card-title">Автомобиль</h4>
                                    <img src="./img/services/3.webp" alt="" class="quiz__card-img">
                                    <input type="checkbox" style="display: none;">
                                </label>
                                <label class="quiz__card">
                                    <h4 class="quiz__card-title">Автомобиль</h4>
                                    <img src="./img/services/3.webp" alt="" class="quiz__card-img">
                                    <input type="checkbox" style="display: none;">
                                </label>
                            </div>
                            <button disabled class="quiz__btn btn btn-pink">
                                Далее
                            </button>
                        </div>
                    </div>
                    <div class="quiz__slide">
                        <h2 class="quiz__title">Для чего планируете использовать?</h2>
                        <div class="quiz__slide-content">
                            <div class="quiz__checkboxes">
                                <label class="quiz__checkbox">
                                    <input class="checkbox" type="checkbox">
                                    Соцсети, мессенджеры, почта
                                </label>
                                <label class="quiz__checkbox">
                                    <input class="checkbox" type="checkbox">
                                    Просмотр видео и фильмов
                                </label>
                                <label class="quiz__checkbox">
                                    <input class="checkbox" type="checkbox">
                                    Загрузка больших файлов, синхронизация данных
                                </label>
                                <label class="quiz__checkbox">
                                    <input class="checkbox" type="checkbox">
                                    Игры в режиме онлайн
                                </label>
                            </div>
                            <button disabled class="quiz__btn btn btn-pink">
                                Далее
                            </button>
                        </div>
                    </div>
                    <div class="quiz__slide">
                        <h2 class="quiz__title">Требуются ли дополнительные услуги?</h2>
                        <div class="quiz__slide-content">
                            <div class="quiz__checkboxes">
                                <label class="quiz__checkbox">
                                    <input class="radio" name="service" type="radio">
                                    Соцсети, мессенджеры, почта
                                </label>
                                <label class="quiz__checkbox">
                                    <input class="radio" name="service" type="radio">
                                    Просмотр видео и фильмов
                                </label>
                                <label class="quiz__checkbox">
                                    <input class="radio" name="service" type="radio">
                                    Загрузка больших файлов, синхронизация данных
                                </label>
                                <label class="quiz__checkbox">
                                    <input class="radio" name="service" type="radio">
                                    Игры в режиме онлайн
                                </label>
                            </div>
                            <button disabled class="quiz__btn btn btn-pink">
                                Получить персональную подборку
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-callback">
    <div class="modal__container">
        <button class="modal__close"></button>
        <div class="modal__content">
            <div data-callback-modal-js class="callback-modal">
                <div class="callback-modal__top">
                    <h2 class="callback-modal__title title">
                        Оставьте заявку
                    </h2>
                    <p class="callback-modal__desc">
                        Как удобнее с вами связаться?
                    </p>
                </div>
                <div class="callback-modal__navigation">
                    <button class="callback-modal__nav-btn active">
                        Telegram
                    </button>
                    <button class="callback-modal__nav-btn">
                        Телефон
                    </button>
                    <button class="callback-modal__nav-btn">
                        Email
                    </button>
                </div>
                <form class="callback-modal__form">
                    <label class="callback-modal__label">
                        <h4 class="callback-modal__label-title">Ваше имя</h4>
                        <input placeholder="Иван" type="text" class="input">
                    </label>
                    <div class="callback-modal__tabs">
                        <div class="callback-modal__tab active">
                            <label class="callback-modal__label">
                                <h4 class="callback-modal__label-title">Ник в Telegram</h4>
                                <input placeholder="@Ваш ник" type="text" class="input">
                            </label>
                        </div>
                        <div class="callback-modal__tab">
                            <label class="callback-modal__label">
                                <h4 class="callback-modal__label-title">Ваш номер телефона</h4>
                                <input placeholder="+7 (000) 000–00–00" type="tel" class="input">
                            </label>
                        </div>
                        <div class="callback-modal__tab">
                            <label class="callback-modal__label">
                                <h4 class="callback-modal__label-title">Ваш email</h4>
                                <input placeholder="example@gmail.com" type="email" class="input">
                            </label>
                        </div>
                    </div>
                    <button disabled type="submit" class="callback-modal__btn btn btn-pink">Далее</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- @@include("_sprite.svg") -->
<script src="js/common.js?v=0"></script>
</body>

</html>