<section class="callback @@if(this.class){@@class}">
    <div class="callback__container container">
        <div class="callback__section callback__about">
            <h2 class="callback__title title">
                Оставьте заявку <br> на подключение
            </h2>
            <p class="callback__desc">
                Мы перезвоним и подробнее расскажемо  <br> стоимости и условиях подключения
            </p>
            <img src="./img/wifi.svg" alt="" class="callback__image">
        </div>
        <div class="callback__section callback__wrapper">
            <form class="callback__form">
                <div class="callback__form-labels">
                    <label class="callback__label">
                        <div class="callback__label-top">
                            <h4 class="callback__label-title">Ваше имя</h4>
                        </div>
                        <input placeholder="Иван" type="text" class="callback__input input">
                    </label>
                    <label class="callback__label">
                        <div class="callback__label-top">
                            <h4 class="callback__label-title">Контактный номер телефона</h4>
                        </div>
                        <input placeholder="+7 (000) 000–00–00" type="tel" class="callback__input input">
                    </label>
                    <label class="callback__label">
                        <div class="callback__label-top">
                            <h4 class="callback__label-title">Промокод <span>(необязательно)</span></h4>
                            <div data-clue-js class="clue">
                                <button type="button" class="clue__button"></button>
                                <div class="clue__content">
                                    <p>Пояснение что такое промокод и где его брать</p>
                                </div>
                            </div>
                        </div>
                        <input placeholder="" type="text" class="callback__input input">
                    </label>
                    <label class="callback__agree">
                        <input type="checkbox" class="checkbox">
                        Я даю согласие на обработку персональных данных в соответствии с политикой
                        конфиденциальности
                    </label>
                </div>
                <button type="submit" class="callback__btn btn btn-pink">Оставить заявку</button>
            </form>
        </div>
    </div>
</section>