<section class="chooses @@if(this.class){@@class}">
    <div class="chooses__container container">
        <div class="chooses__top block-top">
            <h2 class="chooses__title title">
                Выбрать тариф сотовой связи с интернетом
            </h2>
            <p class="chooses__desc">
                Получайте стабильный и качественный интернет с оплатой только за нужный объём данных. Замораживайте
                сим-карту в несезон и управляйте расходами в приложении с поддержкой 24/7.
            </p>
        </div>
        <div class="chooses__cards swiper">
            <div class="swiper-wrapper">
                <a href="#" class="offer-card swiper-slide chooses__card chooses__card_big">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/camera.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card swiper-slide chooses__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card swiper-slide chooses__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card swiper-slide chooses__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card swiper-slide chooses__card chooses__card_big">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card swiper-slide chooses__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card swiper-slide chooses__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card swiper-slide chooses__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card swiper-slide chooses__card chooses__card_big">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Видеонаблюдение
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
            </div>
            <div class="custom-pagination"></div>
        </div>
    </div>
</section>