<section class="complects complects_services @@if(this.class){@@class}">
    <div class="complects__container container">
        <div class="complects__about">
            <div class="complects__content">
                <h2 class="complects__title title">
                    Поставить видеонаблюдение на даче без интернета
                </h2>
                <p class="complects__desc">
                    В области интернет часто не ловит. <b>Мы нашли решение, которое поможет справиться с этой
                        задачей.</b>
                </p>
            </div>
            <div class="complects__image">
                <img src="./img/girl.webp" alt="">
            </div>
        </div>
        <div class="complects__items">
            <h2 class="complects__items-title title">
                Предлагаем:
            </h2>
            <div class="complects__cards">
                <a href="#" class="offer-card offer-card_desc complects__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Сим-карты со специальными тарифами для видеонаблюдения
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card offer-card_desc complects__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Сим-карты со специальными тарифами для видеонаблюдения
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card offer-card_desc complects__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Сим-карты со специальными тарифами для видеонаблюдения
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
                <a href="#" class="offer-card offer-card_desc complects__card">
                    <div class="offer-card__content">
                        <h3 class="offer-card__title">
                            Сим-карты со специальными тарифами для видеонаблюдения
                        </h3>
                        <div class="offer-card__link">
                            Перейти
                        </div>
                    </div>
                    <div class="offer-card__image">
                        <img src="./img/offer-card/2.webp" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>