<section class="connect @@if(this.class){@@class}">
    <div class="connect__container container">
        <div class="connect__about">
            <h2 class="connect__title title">
                Стоимость подключения
            </h2>
            <p class="connect__desc">
                Цена подключения интернета в частный дом зависит от адреса и оборудования. Показываем полную смету
                заранее, никаких доплат после монтажа.
            </p>
            <a href="#" class="connect__btn btn btn-border">
                Рассчитать стоимость
            </a>
        </div>
        <div class="connect__image">
            <img class="connect__image-peoples" src="./img/peoples.webp" alt="">
            <div class="connect__image-bg">
                <img class="" src="./img/connect-bg.webp" alt="">
            </div>
        </div>
    </div>
</section>