<section class="hero-image">
    <div class="hero-image__container container">
        <h1 class="hero-image__title">
            @@title
        </h1>
        <div class="hero-image__about">
            <p class="hero-image__desc">
                @@desc
            </p>
            <a href="#" class="hero-image__btn btn btn-pink">
                Подлючить интернет
            </a>
        </div>
        <div class="hero-image__image">
            <img src="./img/hero-image/@@img.webp" alt="">
        </div>
    </div>
</section>