<section class="install @@if(this.class){@@class}">
    <div class="install__container container">
        <h2 class="install__title title">Как установить интернет в частном доме</h2>
        <div class="install__columns">
            <div class="install__column install__about">
                <ol class="install__items">
                    <li class="install__item">
                        <div class="install__item-about">
                            <h4 class="install__item-title">
                                Заявка или звонок
                            </h4>
                            <p class="install__item-text">
                                Оставьте заявку, наш инженер свяжется с вами и ответит на вопросы.
                            </p>
                        </div>
                    </li>
                    <li class="install__item">
                        <div class="install__item-about">
                            <h4 class="install__item-title">
                                Выезд мастера
                            </h4>
                            <p class="install__item-text">
                                Специалист измерит сигнал LTE/5G, протестирует скорость, осмотрит место установки
                                оборудования и согласует план работ.
                            </p>
                        </div>
                    </li>
                    <li class="install__item">
                        <div class="install__item-about">
                            <h4 class="install__item-title">
                                Расчёт
                            </h4>
                            <p class="install__item-text">
                                Подбор роутера, антенны, тарифа. Фиксированная смета без скрытых платежей.
                            </p>
                        </div>
                    </li>
                    <li class="install__item">
                        <div class="install__item-about">
                            <h4 class="install__item-title">
                                Проведение работ
                            </h4>
                            <p class="install__item-text">
                                Монтаж оборудования, настройка Wi-Fi по дому, тестирование скорости. Обучение работе
                                с приложением.
                            </p>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="install__column install__image">
                <img src="./img/install-bg.webp" alt="">
            </div>
        </div>
    </div>
</section>