<section class="internet-tariff @@if(this.class){@@class}">
    <div class="internet-tariff__container container">
        <h2 class="internet-tariff__title title">Тарифы безлимитного интернета</h2>
        <div class="internet-tariff__cards">
            <div class="internet-tariff__card tariff-card tariff-card_alt">
                <div class="tariff-card__top">
                    <div class="tariff-card__value">
                        <h3>30 ГБ</h3>
                        <div class="tariff-card__icon">
                            <img loading="lazy" src="./img/operators/megafon.webp" alt="">
                        </div>
                    </div>
                    <p class="tariff-card__desc">
                        Интернет для головного устройства автомобиля
                    </p>
                    <p class="tariff-card__price">
                        490 ₽ / мес
                    </p>
                </div>
                <div class="tariff-card__content">
                    <div class="tariff-card__rows">
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                        </ul>
                    </div>
                    <div class="tariff-card__rows">
                        <h4 class="tariff-card__rows-title">Подходит для:</h4>
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tariff-card__bottom">
                    <a href="#" class="tariff-card__btn btn btn-pink">Заказать</a>
                </div>
            </div>
            <div class="internet-tariff__card tariff-card tariff-card_alt">
                <div class="tariff-card__top">
                    <div class="tariff-card__value">
                        <h3>30 ГБ</h3>
                        <div class="tariff-card__icon">
                            <img loading="lazy" src="./img/operators/megafon.webp" alt="">
                        </div>
                    </div>
                    <p class="tariff-card__desc">
                        Интернет для головного устройства автомобиля
                    </p>
                    <p class="tariff-card__price">
                        490 ₽ / мес
                    </p>
                </div>
                <div class="tariff-card__content">
                    <div class="tariff-card__rows">
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                        </ul>
                    </div>
                    <div class="tariff-card__rows">
                        <h4 class="tariff-card__rows-title">Подходит для:</h4>
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tariff-card__bottom">
                    <a href="#" class="tariff-card__btn btn btn-pink">Заказать</a>
                </div>
            </div>
            <div class="internet-tariff__card tariff-card tariff-card_alt">
                <div class="tariff-card__top">
                    <div class="tariff-card__value">
                        <h3>30 ГБ</h3>
                        <div class="tariff-card__icon">
                            <img loading="lazy" src="./img/operators/megafon.webp" alt="">
                        </div>
                    </div>
                    <p class="tariff-card__desc">
                        Интернет для головного устройства автомобиля
                    </p>
                    <p class="tariff-card__price">
                        490 ₽ / мес
                    </p>
                </div>
                <div class="tariff-card__content">
                    <div class="tariff-card__rows">
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                        </ul>
                    </div>
                    <div class="tariff-card__rows">
                        <h4 class="tariff-card__rows-title">Подходит для:</h4>
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tariff-card__bottom">
                    <a href="#" class="tariff-card__btn btn btn-pink">Заказать</a>
                </div>
            </div>
            <div class="internet-tariff__card tariff-card tariff-card_alt">
                <div class="tariff-card__top">
                    <div class="tariff-card__value">
                        <h3>30 ГБ</h3>
                        <div class="tariff-card__icon">
                            <img loading="lazy" src="./img/operators/megafon.webp" alt="">
                        </div>
                    </div>
                    <p class="tariff-card__desc">
                        Интернет для головного устройства автомобиля
                    </p>
                    <p class="tariff-card__price">
                        490 ₽ / мес
                    </p>
                </div>
                <div class="tariff-card__content">
                    <div class="tariff-card__rows">
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                        </ul>
                    </div>
                    <div class="tariff-card__rows">
                        <h4 class="tariff-card__rows-title">Подходит для:</h4>
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                            <li class="tariff-card__list-item">
                                <div class="tariff-card__list-icon">
                                    <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                </div>
                                Действует в поездках по России
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tariff-card__bottom">
                    <a href="#" class="tariff-card__btn btn btn-pink">Заказать</a>
                </div>
            </div>
        </div>
    </div>
</section>