<section class="map @@if(this.class){@@class}">
    <div class="map__container container">
        <div class="map__about">
            <h2 class="map__title title">
                Работаем на всей территории России
            </h2>
            <p class="map__desc">
                Инфраструктура федеральных операторов позволяет предоставить максимальные покрытие и качество
                интернета. Служба поддержки 24/7 оперативно помогает абонентам в любом часовом поясе.
            </p>
            <p class="map__help">
                Нажмите на любую точку на карте, чтобы узнать подробности*
            </p>
        </div>
        <div class="map__frame">
            <img src="./img/map.webp" alt="">
        </div>
    </div>
</section>