<section class="personal @@if(this.class){@@class}">
    <div class="personal__container container">
        <h2 class="personal__title">
            <span class="personal__title-part">
                <span>Подберём</span>
                <span>идеальный</span>
            </span>
            <span class="personal__title-part">
                <span>интернет</span>
                <span>для ваших задач</span>
            </span>
        </h2>
        <p class="personal__desc">
            Ответьте на 3 вопроса <br> и получите персональную <br> подборку тарифов
        </p>
        <a href="#" class="personal__btn btn btn-light">Получить персональную подборку</a>
    </div>
    <div class="personal__bg">
        <img class="personal__line" src="./img/personal-line.svg" alt="">
        <img class="personal__man" src="./img/daddy.webp" alt="">
    </div>
</section>