<section class="price @@if(this.class){@@class}">
    <div class="price__container container">
        <h2 class="price__title title">
            На стоимость влияет:
        </h2>
        <div class="price__cards">
            <div class="price__card">
                <h4 class="price__card-title">
                    Расстояние до вышки
                </h4>
                <p class="price__card-desc">
                    Если сигнал слабый, потребуется установка специальной усиливающей антенны на фасаде или крыше.
                </p>
                <img src="./img/price/1.webp" alt="" class="price__card-image">
            </div>
            <div class="price__card">
                <h4 class="price__card-title">
                    Мощность оборудования
                </h4>
                <p class="price__card-desc">
                    Цена модема и роутера зависит от их способности поддерживать высокую скорость при больших нагрузках.
                </p>
                <img src="./img/price/2.webp" alt="" class="price__card-image">
            </div>
            <div class="price__card">
                <h4 class="price__card-title">
                    Площадь покрытия
                </h4>
                <p class="price__card-desc">
                    Для больших домов и участков мы устанавливаем дополнительные точки доступа, чтобы Wi-Fi работал
                    в каждой комнате.
                </p>
                <img src="./img/price/3.webp" alt="" class="price__card-image">
            </div>
            <div class="price__card">
                <h4 class="price__card-title">
                    Резервное питание
                </h4>
                <p class="price__card-desc">
                    Установка источника бесперебойного питания (ИБП) позволит интернету работать даже при временном
                    отключении электричества в посёлке.
                </p>
                <img src="./img/price/4.webp" alt="" class="price__card-image">
            </div>
        </div>
    </div>
</section>