<section class="promo-cards @@if(this.class){@@class}">
    <div class="promo-cards__container">
        <div class="promo-cards__icon-mobile">
            <img src="./img/smartcard.webp" alt="">
        </div>
        <h1 class="promo-cards__title title">Смарт Кард. <br> Просто удобный <br> мобильный интернет.</h1>
        <div class="promo-cards__info">
            <h2 class="promo-cards__sub-title">
                Сим-карта для интернета от Смарт Кард
            </h2>
            <p class="promo-cards__desc">
                Сим-карта с высокоскоростным интернетом без ограничений. Стабильное соединение,
                где вам необходимо:
                дома, на даче, в авто.
            </p>
            <a href="#" class="promo-cards__btn btn btn-pink">
                Заказать сим-карту
            </a>
            <a href="#" class="promo-cards__btn-mobile btn btn-pink">
                Заказать сим-карту
            </a>
        </div>
        <div class="promo-cards__advantages">
            <div class="promo-cards__advantages-icon">
                <img src="./img/smartcard.webp" alt="">
            </div>
            <div class="promo-cards__items">
                <div class="advantages-card promo-cards__item">
                    <div class="advantages-card__icon">
                        <img loading="lazy" src="./img/icons/global.svg" alt="">
                    </div>
                    <h7 class="advantages-card__title">Инфраструктура федеральных операторов</h7>
                    <p class="advantages-card__text">
                        Работаем на сетях крупнейших операторов связи — максимальное покрытие и предсказуемое
                        качество
                        интернета.
                    </p>
                </div>

                <div class="advantages-card advantages-card_reverse">
                    <div class="advantages-card__icon">
                        <img loading="lazy" src="./img/icons/happy.svg" alt="">
                    </div>
                    <h7 class="advantages-card__title">Инфраструктура федеральных операторов</h7>
                    <p class="advantages-card__text">
                        Работаем на сетях крупнейших операторов связи — максимальное покрытие и предсказуемое
                        качество
                        интернета.
                    </p>
                </div>

                <div class="advantages-card promo-cards__item">
                    <div class="advantages-card__icon">
                        <img loading="lazy" src="./img/icons/like.svg" alt="">
                    </div>
                    <h7 class="advantages-card__title">Инфраструктура федеральных операторов</h7>
                    <p class="advantages-card__text">
                        Работаем на сетях крупнейших операторов связи — максимальное покрытие и предсказуемое
                        качество
                        интернета.
                    </p>
                </div>

                <div class="advantages-card advantages-card_reverse">
                    <div class="advantages-card__icon">
                        <img loading="lazy" src="./img/icons/screens.svg" alt="">
                    </div>
                    <h7 class="advantages-card__title">Инфраструктура федеральных операторов</h7>
                    <p class="advantages-card__text">
                        Работаем на сетях крупнейших операторов связи — максимальное покрытие и предсказуемое
                        качество
                        интернета.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>