<section class="reviews @@if(this.class){@@class}">
    <div class="reviews__container container">
        <h2 class="reviews__title title">Вот что говорят о Смарт Кард наши клиенты</h2>
        <div class="reviews__nav custom-navigation">
            <button class="custom-navigation__btn custom-navigation__btn_prev"></button>
            <button class="custom-navigation__btn custom-navigation__btn_next"></button>
        </div>
        <div class="reviews__swiper swiper">
            <div class="swiper-wrapper">
                <div class="review-card reviews__card swiper-slide">
                    <h7 class="review-card__card-title">
                        По цене приемлемо, интернет без ограничений трафика. За сезон 2000 км проехал — ни разу
                        не подвела
                        связь.
                    </h7>
                    <p class="review-card__text">
                        Я езжу на рыбалку в Карелию, поэтому нужен интернет в авто для GPS, погоды и музыки
                        в колонках. Обычные
                        тарифы кончались на полпути. Взял у Smart Card комплект с симкой для интернета — антенна
                        магнитная,
                        роутер компактный. На трассе 65 Мбит, в лесу 30 Мбит держит уверенно. Сим-карту
                        активировали
                        онлайн.
                        Советую.
                    </p>
                    <div class="review-card__author">
                        <img loading="lazy" src="./img/author-image.webp" alt="" class="review-card__author-image">
                        <div class="review-card__author-info">
                            <p class="review-card__author-name">Михаил</p>
                            <p class="review-card__author-date">12.10.2025</p>
                        </div>
                    </div>
                </div>
                <div class="review-card reviews__card swiper-slide">
                    <h7 class="review-card__card-title">
                        По цене приемлемо, интернет без ограничений трафика. За сезон 2000 км проехал — ни разу
                        не подвела
                        связь.
                    </h7>
                    <p class="review-card__text">
                        Я езжу на рыбалку в Карелию, поэтому нужен интернет в авто для GPS, погоды и музыки
                        в колонках. Обычные
                        тарифы кончались на полпути. Взял у Smart Card комплект с симкой для интернета — антенна
                        магнитная,
                        роутер компактный. На трассе 65 Мбит, в лесу 30 Мбит держит уверенно. Сим-карту
                        активировали
                        онлайн.
                        Советую.
                    </p>
                    <div class="review-card__author">
                        <img loading="lazy" src="./img/author-image.webp" alt="" class="review-card__author-image">
                        <div class="review-card__author-info">
                            <p class="review-card__author-name">Михаил</p>
                            <p class="review-card__author-date">12.10.2025</p>
                        </div>
                    </div>
                </div>
                <div class="review-card reviews__card swiper-slide">
                    <h7 class="review-card__card-title">
                        По цене приемлемо, интернет без ограничений трафика. За сезон 2000 км проехал — ни разу
                        не подвела
                        связь.
                    </h7>
                    <p class="review-card__text">
                        Я езжу на рыбалку в Карелию, поэтому нужен интернет в авто для GPS, погоды и музыки
                        в колонках. Обычные
                        тарифы кончались на полпути. Взял у Smart Card комплект с симкой для интернета — антенна
                        магнитная,
                        роутер компактный. На трассе 65 Мбит, в лесу 30 Мбит держит уверенно. Сим-карту
                        активировали
                        онлайн.
                        Советую.
                    </p>
                    <div class="review-card__author">
                        <img loading="lazy" src="./img/author-image.webp" alt="" class="review-card__author-image">
                        <div class="review-card__author-info">
                            <p class="review-card__author-name">Михаил</p>
                            <p class="review-card__author-date">12.10.2025</p>
                        </div>
                    </div>
                </div>
                <div class="review-card reviews__card swiper-slide">
                    <h7 class="review-card__card-title">
                        По цене приемлемо, интернет без ограничений трафика. За сезон 2000 км проехал — ни разу
                        не подвела
                        связь.
                    </h7>
                    <p class="review-card__text">
                        Я езжу на рыбалку в Карелию, поэтому нужен интернет в авто для GPS, погоды и музыки
                        в колонках. Обычные
                        тарифы кончались на полпути. Взял у Smart Card комплект с симкой для интернета — антенна
                        магнитная,
                        роутер компактный. На трассе 65 Мбит, в лесу 30 Мбит держит уверенно. Сим-карту
                        активировали
                        онлайн.
                        Советую.
                    </p>
                    <div class="review-card__author">
                        <img loading="lazy" src="./img/author-image.webp" alt="" class="review-card__author-image">
                        <div class="review-card__author-info">
                            <p class="review-card__author-name">Михаил</p>
                            <p class="review-card__author-date">12.10.2025</p>
                        </div>
                    </div>
                </div>
                <div class="review-card reviews__card swiper-slide">
                    <h7 class="review-card__card-title">
                        По цене приемлемо, интернет без ограничений трафика. За сезон 2000 км проехал — ни разу
                        не подвела
                        связь.
                    </h7>
                    <p class="review-card__text">
                        Я езжу на рыбалку в Карелию, поэтому нужен интернет в авто для GPS, погоды и музыки
                        в колонках. Обычные
                        тарифы кончались на полпути. Взял у Smart Card комплект с симкой для интернета — антенна
                        магнитная,
                        роутер компактный. На трассе 65 Мбит, в лесу 30 Мбит держит уверенно. Сим-карту
                        активировали
                        онлайн.
                        Советую.
                    </p>
                    <div class="review-card__author">
                        <img loading="lazy" src="./img/author-image.webp" alt="" class="review-card__author-image">
                        <div class="review-card__author-info">
                            <p class="review-card__author-name">Михаил</p>
                            <p class="review-card__author-date">12.10.2025</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>