<section class="services @@if(this.class){@@class}">
    <div class="services__container container">
        <h2 class="services__title title">Наши услуги</h2>
        <div class="services__cards">
            <a class="service-card services__card">
                <div class="service-card__content">
                    <h7 class="service-card__title">
                        Интернет для бизнеса
                    </h7>
                    <p class="service-card__desc">
                        Корпоративные линии с фиксированной скоростью, VPN, APN и приоритезацией трафика
                        для офисов
                        и удалённых точек.
                    </p>
                    <div class="service-card__link">Перейти</div>
                </div>
                <div class="service-card__bg">
                    <img src="./img/services/1.webp" alt="">
                </div>
            </a>
            <a class="service-card services__card">
                <div class="service-card__content">
                    <h7 class="service-card__title">
                        Интернет в загородный дом и на дачу
                    </h7>
                    <p class="service-card__desc">
                        Развёртывание LTE-роутеров с внешними антеннами для стабильного сигнала в удалённых
                        районах.
                    </p>
                    <div class="service-card__link">Перейти</div>
                </div>
                <div class="service-card__bg">
                    <img src="./img/services/2.webp" alt="">
                </div>
            </a>
            <a class="service-card services__card">
                <div class="service-card__content">
                    <h7 class="service-card__title">
                        Интернет в автомобиль
                    </h7>
                    <p class="service-card__desc">
                        Русификация медиасистем, мобильный роутер с антенной для интернета в пути, поддержка
                        навигаторов и камер.
                    </p>
                    <div class="service-card__link">Перейти</div>
                </div>
                <div class="service-card__bg">
                    <img src="./img/services/3.webp" alt="">
                </div>
            </a>
            <a class="service-card services__card services__card_big">
                <div class="service-card__content">
                    <h7 class="service-card__title">
                        Видеонаблюдение
                    </h7>
                    <p class="service-card__desc">
                        Подберём тариф для редкого использования: мессенджеры, карты и интернет-вещибез лишних
                        трат.
                    </p>
                    <div class="service-card__link">Перейти</div>
                </div>
                <div class="service-card__bg">
                    <img src="./img/services/5.webp" alt="">
                    <img src="./img/services/5-big.webp" alt="">
                </div>
            </a>
            <a class="service-card services__card">
                <div class="service-card__content">
                    <h7 class="service-card__title">
                        Видеонаблюдение
                    </h7>
                    <p class="service-card__desc">
                        Подберём тариф для редкого использования: мессенджеры, карты и интернет-вещибез лишних
                        трат.
                    </p>
                    <div class="service-card__link">Перейти</div>
                </div>
                <div class="service-card__bg">
                    <img src="./img/services/4.webp" alt="">
                </div>
            </a>
        </div>
    </div>
</section>