<section class="solutions @@if(this.class){@@class}">
    <div class="solutions__container container">
        <div class="solutions__top block-top">
            <h2 class="solutions__title title">Готовые интернет-решения под ключ</h2>
            <p class="solutions__desc">
                Мы разработали тарифы для разных нужд, включая индивидуальные предложения. Без скрытых условий
                и звёздочек. Выберите оптимальный пакет под ваши задачи или спросите нас и мы поможем.
            </p>
        </div>
        <div class="solutions__cards swiper">
            <div class="swiper-wrapper">
                <div class="tariff-card solutions__card swiper-slide">
                    <p class="tariff-card__badge">Самый выгодный</p>
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="tariff-card solutions__card swiper-slide">
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="tariff-card solutions__card swiper-slide">
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="tariff-card solutions__card swiper-slide">
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="tariff-card solutions__card swiper-slide">
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="cta-card solutions__card swiper-slide">
                    <div class="cta-card__content">
                        <h7 class="cta-card__title">
                            Хотите больше или меньше интернета?
                        </h7>
                        <p class="cta-card__desc">
                            Напишите нам и мы поможем выбрать лучшее решение для вас!
                        </p>
                        <a href="#" class="btn btn-pink">Написать нам</a>
                    </div>
                    <div class="cta-card__bg">
                        <img loading="lazy" src="./img/cta-bg.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="solutions__pagination custom-pagination"></div>
        </div>
    </div>
</section>