<section class="steps @@if(this.class){@@class}">
    <div class="steps__container container">
        <h2 class="steps__title title">
            Как это работает?
        </h2>
        <div class="steps__cards">
            <div class="step-card steps__card">
                <div class="step-card__content">
                    <h3 class="step-card__title">
                        <span>Шаг</span> 1
                    </h3>
                    <p class="step-card__desc">
                        Выберите <span>тариф</span> интернет для камеры видеонаблюдения.
                    </p>
                </div>
                <div class="step-card__image">
                    <img loading="lazy" src="./img/steps/1.webp" alt="">
                </div>
            </div>
            <div class="step-card steps__card step-card_reverse">
                <div class="step-card__content">
                    <h3 class="step-card__title">
                        <span>Шаг</span> 2
                    </h3>
                    <p class="step-card__desc">
                        Закажите сим-карту для видеонаблюдения.
                    </p>
                </div>
                <div class="step-card__image">
                    <img loading="lazy" src="./img/steps/2.webp" alt="">
                </div>
            </div>
            <div class="step-card steps__card">
                <div class="step-card__content">
                    <h3 class="step-card__title">
                        <span>Шаг</span> 3
                    </h3>
                    <p class="step-card__desc">
                        Выберите тариф интернет для камеры видеонаблюдения.
                    </p>
                </div>
                <div class="step-card__image">
                    <img loading="lazy" src="./img/steps/3.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>