<section class="tariffs @@if(this.class){@@class}">
    <div class="tariffs__container container">
        <h2 class="tariffs__title title">
            Выбрать тариф для видеонаблюдения с сим-картой
        </h2>
        <div class="tariffs__swiper swiper">
            <div class="swiper-wrapper">
                <div class="tariff-card tariffs__card swiper-slide">
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="tariff-card tariffs__card swiper-slide">
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="tariff-card tariffs__card swiper-slide">
                    <p class="tariff-card__badge">Самый выгодный</p>
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="tariff-card tariffs__card swiper-slide">
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
                <div class="tariff-card tariffs__card swiper-slide">
                    <div class="tariff-card__top">
                        <p class="tariff-card__value">
                            1000 ГБ
                        </p>
                        <p class="tariff-card__desc">
                            Максимум интернет возможностей
                        </p>
                        <p class="tariff-card__price">
                            от 1 900 ₽ / мес
                        </p>
                    </div>
                    <div class="tariff-card__content">
                        <div class="tariff-card__rows">
                            <ul class="tariff-card__list">
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                                <li class="tariff-card__list-item">
                                    <div class="tariff-card__list-icon">
                                        <img loading="lazy" src="./img/icons/smart-car.svg" alt="">
                                    </div>
                                    Действует в поездках по России
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tariff-card__bottom">
                        <a href="#" class="tariff-card__btn btn btn-border">Заказать</a>
                    </div>
                </div>
            </div>
            <div class="custom-pagination"></div>
        </div>
    </div>
</section>