<section class="vantages section-margin">
    <div class="vantages__container container">
        <h2 class="vantages__title title">
            Наши преимущества
        </h2>
        <div class="vantages__cards">
            <div class="vantage-card">
                <div class="vantage-card__about">
                    <h4 class="vantage-card__title">
                        Тарифы, рассчитанные под камеры.
                    </h4>
                    <div class="vantage-card__text">
                        <p>
                            Пакеты и безлимит, подобранные под типичное потребление 4G‑камер, а не под телефонный
                            сёрфинг, поэтому меньше риск блокировок и урезания скорости.
                        </p>
                    </div>
                </div>
                <div class="vantage-card__image">
                    <img src="./img/vantages/1.webp" alt="">
                </div>
            </div>
            <div class="vantage-card vantage-card_reverse">
                <div class="vantage-card__about">
                    <h4 class="vantage-card__title">
                        Тарифы, рассчитанные под камеры.
                    </h4>
                    <div class="vantage-card__text">
                        <p>
                            Пакеты и безлимит, подобранные под типичное потребление 4G‑камер, а не под телефонный
                            сёрфинг, поэтому меньше риск блокировок и урезания скорости.
                        </p>
                    </div>
                </div>
                <div class="vantage-card__image">
                    <img src="./img/vantages/2.webp" alt="">
                </div>
            </div>
            <div class="vantage-card">
                <div class="vantage-card__about">
                    <h4 class="vantage-card__title">
                        Тарифы, рассчитанные под камеры.
                    </h4>
                    <div class="vantage-card__text">
                        <p>
                            Пакеты и безлимит, подобранные под типичное потребление 4G‑камер, а не под телефонный
                            сёрфинг, поэтому меньше риск блокировок и урезания скорости.
                        </p>
                    </div>
                </div>
                <div class="vantage-card__image">
                    <img src="./img/vantages/3.webp" alt="">
                </div>
            </div>
            <div class="vantage-card vantage-card_reverse">
                <div class="vantage-card__about">
                    <h4 class="vantage-card__title">
                        Тарифы, рассчитанные под камеры.
                    </h4>
                    <div class="vantage-card__text">
                        <p>
                            Пакеты и безлимит, подобранные под типичное потребление 4G‑камер, а не под телефонный
                            сёрфинг, поэтому меньше риск блокировок и урезания скорости.
                        </p>
                    </div>
                </div>
                <div class="vantage-card__image">
                    <img src="./img/vantages/4.webp" alt="">
                </div>
            </div>
            <div class="vantage-card">
                <div class="vantage-card__about">
                    <h4 class="vantage-card__title">
                        Тарифы, рассчитанные под камеры.
                    </h4>
                    <div class="vantage-card__text">
                        <p>
                            Пакеты и безлимит, подобранные под типичное потребление 4G‑камер, а не под телефонный
                            сёрфинг, поэтому меньше риск блокировок и урезания скорости.
                        </p>
                    </div>
                </div>
                <div class="vantage-card__image">
                    <img src="./img/vantages/5.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>