<section class="variants @@if(this.class){@@class}">
    <div class="variants__container container">
        <h2 class="variants__title title"> Какие есть варианты установки интернета в автомобиль?</h2>
        <div class="variants__cards">
            <div class="price-card variants__card">
                <h4 class="price-card__title">
                    Мобильный Wi-Fi-роутер с SIM-картой
                </h4>
                <p class="price-card__desc">
                    Универсальное решение. Роутер под сиденьем в сочетании с внешней антенной. Хватит для всей семьи,
                    работает даже в дальних поездках. До 64 устройств, ИБП 8 ч.
                </p>
                <a href="#" class="price-card__btn btn btn-border">
                    Заказать
                </a>
            </div>
            <div class="price-card variants__card">
                <h4 class="price-card__title">
                    Мобильный Wi-Fi-роутер с SIM-картой
                </h4>
                <p class="price-card__desc">
                    Универсальное решение. Роутер под сиденьем в сочетании с внешней антенной. Хватит для всей семьи,
                    работает даже в дальних поездках. До 64 устройств, ИБП 8 ч.
                </p>
                <a href="#" class="price-card__btn btn btn-border">
                    Заказать
                </a>
            </div>
            <div class="price-card variants__card">
                <h4 class="price-card__title">
                    Мобильный Wi-Fi-роутер с SIM-картой
                </h4>
                <p class="price-card__desc">
                    Универсальное решение. Роутер под сиденьем в сочетании с внешней антенной. Хватит для всей семьи,
                    работает даже в дальних поездках. До 64 устройств, ИБП 8 ч.
                </p>
                <a href="#" class="price-card__btn btn btn-border">
                    Заказать
                </a>
            </div>
        </div>
    </div>
</section>