<section class="variants @@if(this.class){@@class}">
    <div class="variants__container container">
        <h2 class="variants__title title">Примеры цен</h2>
        <div class="variants__cards">
            <div class="price-card">
                <h3 class="price-card__title">
                    Минимальный комплект ( 2 камеры)
                </h3>
                <p class="price-card__desc">
                    HD-камеры у входа/калитки. Запись на SD, Wi-Fi 100 м. Дачи до 6 соток. Хранение 14 дней.
                </p>
                <p class="price-card__price">
                    от 16 000 ₽
                </p>
                <a href="#" class="price-card__btn btn btn-border">
                    Заказать
                </a>
            </div>
            <div class="price-card">
                <h3 class="price-card__title">
                    Минимальный комплект ( 2 камеры)
                </h3>
                <p class="price-card__desc">
                    HD-камеры у входа/калитки. Запись на SD, Wi-Fi 100 м. Дачи до 6 соток. Хранение 14 дней.
                </p>
                <p class="price-card__price">
                    от 16 000 ₽
                </p>
                <a href="#" class="price-card__btn btn btn-border">
                    Заказать
                </a>
            </div>
            <div class="price-card">
                <h3 class="price-card__title">
                    Минимальный комплект ( 2 камеры)
                </h3>
                <p class="price-card__desc">
                    HD-камеры у входа/калитки. Запись на SD, Wi-Fi 100 м. Дачи до 6 соток. Хранение 14 дней.
                </p>
                <p class="price-card__price">
                    от 16 000 ₽
                </p>
                <a href="#" class="price-card__btn btn btn-border">
                    Заказать
                </a>
            </div>
        </div>
    </div>
</section>