@use 'lib' as *;

.btn {
	@include flex-center;

	border-radius: fluid(20px, 16px);
	padding: fluid(21px, 14.5px);
	font-weight: 500;
	transition: all $transitionBase;
	font-size: fluid(16px, 15px);

	&:disabled {
		background: $pinkDisableColor;
	}

	&:hover {
		cursor: pointer;
	}

}

.btn-pink {
	background: $pinkColor;
	color: #ffffff;

	&:hover {
		background: #E40163A6;
	}

	&:disabled {
		background: $pinkDisableColor;
	}

	&_mini.btn {
		padding: 10px 28px;
		border-radius: 12px
	}
}

.btn-border {
	box-shadow: inset 0 0 0 1px $textColor;
	color: $textColor;

	&:hover {
		box-shadow: inset 0 0 0 0px $textColor;
		background: #E40163A6;
		color: #ffffff;
	}
}

.btn-light {
	background: #FFFFFF;
	color: $textColor;

	&:hover {
		background: #FFFFFFA6;
	}
}