@use 'lib' as *;

.earn {
	$self: &;

	&__container {}

	&__top {
		margin-bottom: 80px;
	}

	&__title {}

	&__desc {
		line-height: 150%;
		font-size: 24px;

		@include media("<=lg") {
			font-size: fluid(24px, 16px);
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		margin-bottom: 40px;

		@include media("<=lg") {
			grid-template-columns: 100%;
			gap: fluid(40px, 12px);
		}

		@include media("<=xs") {
			margin-bottom: 12px;
		}
	}

	&__card {
		border-radius: 56px;
		background: #FFFFFF;
		padding: 56px;
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		@include media(">xs") {
			&:nth-child(1) {
				grid-row: auto / span 2;

				#{$self}__card-title {
					max-width: 65%;
				}

				#{$self}__card-text {
					max-width: 45%;
				}
			}

			&:nth-child(2) {
				#{$self}__card-text {
					max-width: 450px;
				}
			}
		}

		@include media("<=xs") {
			border-radius: 20px;
			padding: 0;
		}
	}

	&__card-title {
		font-weight: 500;
		font-size: 36px;
		margin-bottom: 16px;

		b {
			font-weight: 500;
			color: $pinkColor;
		}

		@include media("<=xs") {
			font-size: 18px;
			padding: 20px 20px 0 20px;
		}
	}

	&__card-text {
		display: flex;
		flex-direction: column;
		gap: 24px;
		line-height: 140%;
		
		@include media("<=xs") {
			font-size: 14px;
			padding: 0px 20px 20px 20px;
		}
	}

	&__card-image-mobile {
		height: 260px;
		border-radius: 20px;
		object-fit: cover;
		order: -1;

		@include media(">xs") {
			display: none;
		}
	}

	&__card-image {
		position: absolute;
		height: 100%;
		bottom: 0;
		right: 0;
		object-fit: contain;
		object-position: bottom right;

		@include media("<=xs") {
			display: none;
		}
	}

	&__btn {}

}