@use 'lib' as *;

.callback-modal {
	$self: &;

	padding: 32px;
	overflow: hidden;

	@include media("<=xs") {
		padding: 24px 16px;
	}

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 32px;
	}

	&__title {

	}

	&__desc {
		font-weight: 500;
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		margin-bottom: 28px;

		@include media("<=xs") {
			gap: 8px;
			overflow-x: auto;
			width: calc(100% + 32px);
		}
	}

	&__nav-btn {
		@include flex-center;

		transition: all $transitionBase;
		border-radius: 100px;
		flex: 1 1 auto;
		font-weight: 500;
		box-shadow: inset 0 0 0 1px #3C3C432E;
		padding: 10px;

		&.active {
			background: #3C3C43;
			color: #ffffff;
		}

		@include media("<=xs") {
			padding: 12.5px 32px;
		}
	}

	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 28px;

		@include media("<=xs") {
			gap: 40px;
		}
	}

	&__label {
		width: 100%;

		.input {
			width: 100%;
		}
	}

	&__label-title {
		margin-bottom: 12px;
	}

	&__tabs {

	}

	&__btn {
		@include media("<=xs") {
			margin-top: 20px;
		}
	}

	&__tab {
		display: none;

		&.active {
			display: block;
			animation: fadeIn 0.5s ease-in-out;
		}
	}

}
