@use 'lib' as *;

.footer {
	$self: &;

	border-radius: fluid(80px, 32px) fluid(80px, 32px) 0 0;
	background: $darkTealColor;
	padding: fluid(80px, 28px) 0 fluid(60px, 28px) 0;

	&__container {}

	&__main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: fluid(100px, 40px);
		gap: 32px;

		@include media("<=lg") {
			grid-template-columns: 100%;
		}
	}

	&__column {
		&:nth-child(2) {
			grid-column: 1 / auto;

			@include media("<=lg") {
				grid-column: auto;
			}
		}

		&:nth-child(3) {
			grid-row: 1 / auto;
			grid-column: 2 / auto;

			@include media("<=lg") {
				grid-column: auto;
				grid-row: auto;
			}
		}

		&:nth-child(4) {
			grid-column: 2 / auto;
			align-self: end;

			@include media("<=lg") {
				grid-column: auto;
				align-self: start;
			}
		}
	}

	&__logo {
		display: block;
		height: fluid(44px, 32px);

		img {
			height: 100%;
			object-fit: contain;
		}
	}

	&__desc {
		font-size: fluid(74px, 26px);
		font-weight: 600;
		color: #ffffff;

		@include media("<=xxxlg") {
			font-size: fluid(48px, 26px);
		}
	}

	&__contacts {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 32px;

		@include media("<=lg") {
			grid-template-columns: 100%;
		}
	}

	&__contact {
		&:nth-child(3) {
			grid-row: 1 / auto;
			grid-column: 2 / auto;

			@include media("<=lg") {
				grid-row: auto;
				grid-column: auto;
			}
		}
	}

	&__contact-title {
		color: rgba($color: #ffffff, $alpha: 0.6);
		margin-bottom: 12px;
		font-size: fluid(16px, 14px);
	}

	&__contact-text {
		color: #ffffff;
		font-weight: 400;
		font-size: fluid(24px, 16px);
		transition: all $transitionBase;
		line-height: 150%;

		&:hover {
			color: $pinkColor;
		}

		@include media("<=xxxlg") {
			font-size: fluid(18px, 16px);
		}

		@include media("<=xs") {
			font-weight: 500;
		}
	}

	&__nav {}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 12px 32px;
	}

	&__list-item {
		font-size: fluid(16px, 14px);
		color: #ffffff;
		transition: all $transitionBase;

		&:hover {
			color: $pinkColor;
		}
	}

	&__bottom {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 32px;

		@include media("<=lg") {
			grid-template-columns: repeat(2, 1fr);
			gap: 16px 32px;
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__bottom-link {
		font-size: fluid(14px, 12px);
		color: rgba($color: #ffffff, $alpha: 0.3);
		transition: all $transitionBase;

		&:hover {
			color: $pinkColor;
		}
	}

}