@use 'lib' as *;

.vantages {
	$self: &;

	@include media("<=sm") {
		background: #3C3C43;
		border-radius: 32px;
		padding: 28px 0 16px 0;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: fluid(80px, 24px);

		@include media("<=sm") {
			color: #ffffff;
		}
	}

	&__cards {
		display: flex;
		flex-direction: column;
		gap: 40px;
		width: 100%;

		@include media("<=lg") {
			gap: 20px;
		}
	}



}