@use 'lib' as *;

.custom-navigation {
	$self: &;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: fluid(24px, 20px);

	&_light {
		gap: 16px;

		#{$self}__btn {
			background: #ffffff;
			border-radius: 50px;
			box-shadow: 0px 8px 16px 0px #00000026;

			&_prev {
				background: url(../img/a-l-l.svg) no-repeat center / contain;
			}

			&_next {
				background: url(../img/a-l-r.svg) no-repeat center / contain;
			}
		}
	}

	&__btn {

		transition: all $transitionBase;
		border-radius: 50%;
		width: fluid(44px, 32px);
		height: fluid(44px, 32px);

		&:hover {
			opacity: 0.7;
		}

		&:disabled {
			opacity: 0.5;
		}

		&_prev {
			background: url(../img/icons/icon-left.svg) no-repeat center / contain;

			@include media("<=xs") {
				background: url(../img/icons/icon-left-light.svg) no-repeat center / contain;
			}
		}

		&_next {
			background: url(../img/icons/icon-right.svg) no-repeat center / contain;

			@include media("<=xs") {
				background: url(../img/icons/icon-right-light.svg) no-repeat center / contain;
			}
		}
	}

}