@use 'lib' as *;

.tariffs {
	$self: &;

	overflow: hidden;
	padding-top: fluid(80px, 28px);
	padding-bottom: fluid(210px, 36px);

	&__container.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		width: min(1800px, calc(100% - var(--container-padding) * 2));
	}

	&__title {
		margin-bottom: 150px;
		text-align: center;

		@include media("<=lg") {
			margin-bottom: fluid(80px, 40px);
		}
	}

	&__swiper.swiper {
		width: 100%;
		max-width: 100%;
		overflow: visible;

		.swiper-wrapper {
			
			margin-bottom: 16px;
			
		}

		@include media(">lg") {
			.swiper-wrapper {
				margin-left: -48px;
				margin-bottom: 92px;
			}
		}
	}

	&__card.swiper-slide {
		transition: all $transitionBase;

		@include media(">lg") {
			&.swiper-slide-prev {
				margin-right: 64px !important;
			}

			&.swiper-slide-active {
				transform: scale(1.15);
				transform-origin: center;
				margin-right: 64px !important;
			}
		}
	}

	&__navigation {
		position: absolute;
		width: 100%;
		top: 50%; left: 0;
		transform: translateY(-50%);
		z-index: 2;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		pointer-events: none;

		@include media("<=md") {
			display: none;
		}
	}

	&__navigation-btn {
		transition: all $transitionBase;
		border-radius: 50%;
		width: 72px;
		height: 72px;
		background: #ffffff;
		position: relative;
		overflow: hidden;
		box-shadow: 0px 13.09px 26.18px 0px #00000026;
		pointer-events: all;

		&::after {
			content: '';
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
		}

		&_prev {
			transform: translateX(-70%);
			&::after {
				background: url("../img/icons/arrow-left.svg") no-repeat center / contain;
			}
		}

		&_next {
			transform: translateX(70%);
			&::after {
				background: url("../img/icons/arrow-right.svg") no-repeat center / contain;
			}
		}

		&:hover {
			opacity: 0.7;
		}
	}

	.custom-pagination {

	}

}