@use 'lib' as *;

.tariffs {
	$self: &;

	overflow: hidden;

	&__container.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 80px;
	}

	&__swiper.swiper {
		width: 100%;
		max-width: 100%;
		overflow: visible;
	}

	&__card {
		
	}

}
