@use 'lib' as *;

.clue {
	$self: &;
	position: relative;
	width: 20px;
	height: 20px;
	max-width: 20px;
	max-height: 20px;

	&.active {
		#{$self}__content {
			display: block;
		}
		#{$self}__button {
			&::after {
				@include media("<=xs") {
					display: block;
				}
			}
		}
	}

	@include media("<=xs") {
		position: static;
	}

	&__button {
		width: 20px;
		height: 20px;
		background: url('../img/icons/question.svg') no-repeat center / cover;
		position: relative;

		&::after {
			content: '';
			width: 32px;
			height: 20px;
			background: url('../img/icons/treug.svg') no-repeat center / contain;
			position: absolute;
			top: 12px;
			left: 50%;
			transform: translateX(-50%);
			display: none;
		}
	}

	&__content {
		position: absolute;
		background: #3C3C43;
		color: #FFFFFF;
		padding: 12px;
		border-radius: 12px;
		left: -50%;
		transform: translateX(-43.8%);
		top: 36px;
		width: 351px;
		line-height: 150%;
		display: none;

		&::after {
			content: '';
			width: 32px;
			height: 20px;
			background: url('../img/icons/treug.svg') no-repeat center / contain;
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%) translateY(12px);

			@include media("<=xs") {
				display: none;
			}
		}

		@include media("<=xs") {
			top: 100%;
			left: 0;
			transform: none;
			width: 100%;
		}
	}

}